HLTHPRT_LOG_CFG=./logging.yaml
HLTHPRT_RELEASE="local"
HLTHPRT_ENVIRONMENT=test

HLTHPRT_DB_POOL_MAX_SIZE=10
HLTHPRT_DB_POOL_MIN_SIZE=1

HLTHPRT_DB_PORT=5432
HLTHPRT_DB_HOST=127.0.0.1
HLTHPRT_DB_DATABASE=drug_api
# Models and importers use the unprefixed schema setting.
DB_SCHEMA='rx_data'
HLTHPRT_DB_USER=drug_api
HLTHPRT_DB_PASSWORD=''
HLTHPRT_REDIS_ADDRESS=redis://127.0.0.1:6379/0
HLTHPRT_ARQ_QUEUE_NDC=arq:queue:drug-api-import-ndc
HLTHPRT_ARQ_QUEUE_LABEL=arq:queue:drug-api-import-label

HLTHPRT_MAIN_RX_JSON_URL='https://api.fda.gov/download.json'
# The partition parser uses the unprefixed batch-size setting.
SAVE_PER_PACK=150
