aiofile==3.7.2
aiofiles==0.8.0
aiomysql==0.0.20
aioredis==1.3.1
alembic==1.7.5
anyio==3.4.0
appnope==0.1.2
arq==0.22
async-timeout==4.0.1
async-unzip==0.2.1
asyncpg==0.25.0
backcall==0.2.0
caio==0.9.3
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.1.0
click==8.0.3
cryptography==36.0.1
decorator==5.1.0
flake8==4.0.1
gino==1.1.0b2
h11==0.12.0
hiredis==2.0.0
httpcore==0.15.0
httptools==0.3.0
httpx==0.23.0
humanize==3.13.1
idna==3.3
ijson==3.1.4
jedi==0.18.1
Mako==1.1.6
MarkupSafe==2.0.1
marshmallow==3.14.1
matplotlib-inline==0.1.3
mccabe==0.6.1
multidict==5.2.0
mysqlclient==1.4.6
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.24
ptyprocess==0.7.0
pyaml==21.10.1
pycodestyle==2.8.0
pycparser==2.21
pydantic==1.8.2
pyflakes==2.4.0
Pygments==2.10.0
PyMySQL==0.9.2
python-dateutil==2.8.2
python-dotenv==0.19.2
PyYAML==6.0
rfc3986==1.5.0
sanic==22.3.2
sanic-routing==22.3.0
sanic-testing==22.3.0
six==1.16.0
sniffio==1.2.0
SQLAlchemy==1.3.24
traitlets==5.1.1
typing_extensions==4.0.1
ujson==5.3.0
uvloop==0.16.0
wcwidth==0.2.5
webargs==8.0.1
webargs-sanic==2.2.0
websockets==10.1
